*{
text-decoration : none;
font-family: Arial, Helvetica, sans-serif;
}
@-webkit-keyframes animationlogo {
    0% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    75% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes animationlogo {
    0% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    75% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(0);
    }
    
}
body {
    background:linear-gradient(red,yellow,blue,orange);
}
header,h1{
    text-align: center;
}
header .extradoor1 img
{
    text-align: center;
    margin: 0 auto;
    max-width: 76%;
}
p,h1,div h2, div h3 {
    margin: 10px 0px;
}
/******** Header ***********/
header .headerliens a{
    display: block;
    padding: 15px;
    background-color: chartreuse;
    color: darkgreen;
    font-weight: bolder;
    font-size: 2em;
}
header .headerliens a:hover{
    display: block;
    padding: 15px;
    background-color: darkgreen;
    color: chartreuse;
    font-weight: bolder;
    font-size: 2em;
}
p.comments
{
    padding: 15px;
    color:chartreuse;
    background-color: darkgreen;
    margin: 15px; 
    min-width: 76%;
    max-width: 76%;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
}
p.comments:hover
{
    padding: 15px;
    background-color:chartreuse;
    color: darkgreen;
    min-width: 76%;
    max-width:76%;
    text-align: center;
    margin: 0 auto;
    transition-duration: 1500ms;
    font-weight: bolder;
}
.fieldset,form,input
{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
form{
    margin-top: 10%;
}
form input 
{
    margin: 10px;
}
section
{
    margin-bottom: 30px;
}
/*a:visited, .comments:hover
{
    padding: 15px;
    background-color:blue;
    color: #FFF;
}*/
section .extradoor
{
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
section .extradoor a img
{
    max-width:76%;
    min-width: 76%;
    height: auto;
    padding: 30px;
}
.retouraccueil
{
    text-align: center;
    margin: 45px auto;
}
.retouraccueil a
{
    padding:15px 15px;
    font-size: 1.5em;
    background-color: black;
    color: #FFF;
    margin: 30px;
}
.retouraccueil a:active
{
    padding:15px;
    font-size: 1.5em;
    background-color:#FFF;
    color:#000;
    margin: 30px;
}
table,td{
    border :2px solid #000;
    border-collapse: collapse;
}
section .tableau
{
    text-align: center;
    margin:45px auto;
    padding-top: 45px;
}
section ul li,section ol li,h3
{
    text-align: center;
    list-style-position: inside;
}
.exempletexte,section h2{
    text-align: center;
    margin: 15px auto;
}
.exempletexte u
{
    text-decoration: underline;
}
.exempletexte span{
    text-decoration:overline;
}
section div.video
{
    text-align: center;
    margin: 30px auto;
}
/****** Footer ******/
.logofooter
{
    animation: linear 4s infinite  animationlogo;
    -webkit-animation: linear 4s infinite animationlogo;
    
}
footer {
    text-align: center;
    margin: 0s auto;
}
footer img {
    max-width: 200px;
    height: auto;
    text-align: center;
    margin: 0 auto;

}
footer .footerliens a
{
    padding: 15px;
    color: darkred;
    background-color: chartreuse;
    font-size: 1.25em;
    font-weight: bolder;
}
footer .footerliens a:hover
{
    padding: 15px;
    color: darkred;
    background-color: green;
    font-size: 1.25em;
    font-weight: bolder;
}/* @media (min-width: 30em) and (max-width: 50em) */
@media screen and (min-width: 640px) and (max-width: 1199px){
    header .extradoor1 img
    {
        text-align: center;
        margin: 0 auto;
        max-width: 50%;
    } 
    main{
    background-image: url("img/astronomy.jpg");
    background-repeat: repeat;
}
p,h1,div h2, div h3,legend,label {
    margin: 10px auto;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
}
section #disciplinesachoisir
{
    padding: 15px;;
}
section .extradoor
{
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
section .extradoor a img
{
    max-width:50%;
    min-width:50%;
    height: auto;
    padding: 30px;
}
p.comments
{
    padding: 15px;
    color:chartreuse;
    background-color: darkgreen;
    margin: 15px; 
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    margin: 45px auto;
    font-weight: bolder;
}
p.comments:hover
{
    padding: 15px;
    background-color:chartreuse;
    color: darkgreen;
    min-width: 50%;
    max-width:50%;
    text-align: center;
    margin: 45px auto;
    transition-duration: 1500ms;
    font-weight: bolder;
}
.retouraccueil
{
    margin: 15px;
}
.retouraccueil a
{
    padding:15px 15px;
    font-size: 1.5em;
    background-color: blueviolet;
    color: #FFF;
    margin: 15px;
}
.retouraccueil a:hover
{
    padding:15px;
    font-size: 1.5em;
    background-color:#FFF;
    color:blueviolet;
    margin: 15px
}
table,td{
    border :2px solid #FFF;
    border-collapse: collapse;
    color: #FFF;
}
section .tableau
{
    text-align: center;
    margin:45px auto;
    padding-top: 45px;
}
section ul li,section ol li,h3
{
    text-align: center;
    list-style-position: inside;
    color: #FFF;
}
.exempletexte,section h2{
    text-align: center;
    margin: 15px auto;
    color: #FFF;
}
.exempletexte u
{
    text-decoration: underline;
}
.exempletexte span{
    text-decoration:overline;
}

footer {
    text-align: center;
    margin: 15px auto;
}
footer img {
    max-width: 200px;
    height: auto;
    text-align: center;
    margin: 0 auto;

}
footer .footerliens a
{
    padding: 15px;
    color: darkred;
    background-color: chartreuse;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 30px;
}
footer .footerliens a:hover
{
    padding: 15px;
    color: #FFF;
    background-color: green;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 30px;
  
}
}
@media screen and (min-width:1200px){
    body {
        background-color: red;
    }
    header,main,footer {
        background-color: black;
        color: #FFF; 
    }
    header .headerliens a {
        display: inline-block;
        padding: 15px;
        background-color: chartreuse;
        color: darkgreen;
        font-weight: bolder;
        font-size: 1.5em;
    }
    header .headerliens a:hover {
        display: inline-block;
        padding: 15px;
        background-color: darkgreen; 
        color: chartreuse;
        font-weight: bolder;
        font-size: 1.5em;
}
section div h2,section h2,section h3,section p
{
    text-align: center;
    margin: 0 auto;
}
header .extradoor1 img
{
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
}
section .extradoor
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
section .extradoor a img
{
    max-width:30%;
    min-width: 30%;
    height: auto;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25%;
}
section #informatiquequantique
{ 
    /*display: inline-block;
    vertical-align: middle;*/
    display: none;
}
section #informatiquequantique img
{
    max-width:30%;
    min-width: 30%;
    height: auto;
    padding: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25%;
}
p.comments
{
    padding: 15px;
    color:chartreuse;
    background-color: darkgreen;
    margin: 15px; 
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}
p.comments:hover
{
    padding: 15px;
    background-color:chartreuse;
    color: darkgreen;
    min-width: 300px;
    max-width:300px;
    text-align: center;
    margin: 0 auto;
    transition-duration: 1500ms;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}
section .retouraccueil
{
    text-align: center;
    margin:25px auto;
    padding: 25px;
}
section .retouraccueil a
{
    text-align: center;
    margin: 25px auto;
    padding: 15px;
    background-color: blue;
    color: #FFF;
}
table,td
{
    border :2px solid #FFF;
    border-collapse: collapse;
}
section .tableau
{
    text-align: center;
    margin: 0 auto;
    padding-left: 25%;
}
.exempletexte,section h2{
    text-align: center;
    margin: 15px auto;
    color: #FFF;
}
.exempletexte u
{
    text-decoration: underline;
}
.exempletexte p span{
    text-decoration:overline;
}

section div.video
{
    text-align: center;
    margin: 30px auto;
}

footer img {
    max-width: 100px;
    min-width: 100px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
footer .footerliens a
{
    padding: 15px;
    margin: 15px;
    color: darkred;
    background-color: chartreuse;
    font-size: 1.5em;
    font-weight: bolder;
    display: inline-block;
}
footer .footerliens a:hover
{
    padding: 15px;
    margin: 15px;
    color: chartreuse;
    background-color: darkred;
    font-size: 1.5em;
    font-weight: bolder;
    display: inline-block;
}
footer .footerliens
{
    background-color: chartreuse;
}
    
}
 /*section.mywebsite
{
    float:left;
    display: inline-block;
    vertical-align: top;

}
div .pubs
{
    float:left;
    display: inline-block;
    vertical-align: top;

}
.clearfloat
{
    clear:both;
}*/